.pecks{
	color: red;
}
.items{
	background-color: black;
	/*height: 430px;*/
}
.navbar.navbar-top{
	background-color: transparent !important;
}
.icon{
	padding: 10px;

}
.left-arow{
	padding: 24px 18px 24px 20px;
	color: white;
	background-color: black;
}
.right-arow{
	padding: 24px 19px 24px 18px;
	color: white;
	background-color: black;
}
.arow{
	width: 49px !important;
}
.treading{
padding: 20px 0px 20px 0px;
}
.dress-item{
	border-radius: 0px !important;
	margin-bottom: 35px;
}
.dress-item1-carousel{
	padding: 30px 20px 55px 35px;
	background-color: rgba(175, 175, 172, 0.62);;
}
.dress-item2-carousel{
	padding: 25px 51px 30px 60px;
	background-color: rgba(175, 175, 172, 0.62);;
}
.dress-item3-carousel{
	padding: 40px 20px 84px 30px;
	background-color: rgba(175, 175, 172, 0.62);;
}
.dress-item4-carousel{
	padding: 20px 55px 18px 60px;
	background-color: rgba(175, 175, 172, 0.62);;
}
.dressitems{
	background-color: #d8d4d4;
	/*padding-bottom: 5px !important;*/
}
.btn.buy-btn{
	border-radius: 0px;
	margin-right: 7px;
	padding: 8px 20px 8px 20px;
}
.btn.peck-btn{
	padding: 8px 15px 8px 15px;
	border-radius: 0px;
}
.store{
	margin-top:35px;
	margin-bottom: 20px;
}
.store1{
	background-color: lightgrey;
}
.popular-text{
	padding-top: 30px;
}
.store-text{
color: #8b8f90;
margin: 51px 13px;
}
.store-text1{
color: #8b8f90;
margin: 51px 10px;
}
.store-text2{
color: #8b8f90;
margin: 51px 8px;
}
.places{
	color: #211c1c;
	font-size: 16px;
}
.carousel-indicators li{
	border-radius: 100%;
	width:7px !important;
	height: 7px !important;
}
.collection{
	background-color: lightgrey;
}
.customer-img{
	width:100px;
	top:23%;
	right: 5%;
	position: absolute;
}
.pashiopecks{
	background-color: #c15456;
}
.btn.sell-btn{
	background-color: white;
	color: black;
}
.store-location{
	background-color: rgba(127,127,127,0.15);
}
.background{
	position: relative;
	width: 70px;
	height: 80px;
}
.footer{
	background-color: rgba(0,0,0,0.85);
}
.testimonials-img{
	background-image: url("ellipse-8.png");
	background-repeat: no-repeat;
}
.customer{
	border-radius: 0px !important;
}
.font-size{
	font-size: 13px;
}
.search-bar{
	position: absolute;
	top: 35%;
	left: 30%;
}
.caption{
    position: absolute;
    top: 45%;
    left: 500px;
    font-size: 17px;
    width: 100%;
}
@media (min-width: 576px) and (max-width: 767px) {
	.fashion{
		width: 450px;
	}
	.customer-img{
	width:50px;
	top:6%;
	/*right: 5%;*/
	position: absolute;
}
.lorem{
	width: 100%;
	font-size: 15px;
}
.caption{
	text-align: center;
}

}
@media (min-width: 515px) and (max-width:937px){

	.caption{
		text-align: center;
	}
}

